<div class='well'>

  <div class="row">
    <div class="cold-md-6"><h1>Problem Sets</h1></div>
    <div class="alert alert-info">
      <p>
        To work on problem sets, either <strong>login with your course email address</strong> or <strong>upload a problem set</strong>.
      </p>
    </div>

    <button ng-click="login()" class="btn btn-lg btn-success col-md-3"><strong>Student Login</strong></button>
    <div class="col-md-6"></div>
    <a href="#/upload" class="btn btn-lg btn-info col-md-3">Upload a Problem Set</a>
  </div>
</div>
