<div class='well'>

  <div class="row">
    <div class="cold-md-6"><h1>Problem Set List</h1></div>
  </div>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="ps in problemSets">
      {{ps.doc.name}} <br>
      Last modified on {{ps.date}}

      <div class='btn-group pull-right'>
        <button type='button' class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="ac in actions">
            <a href="#"> {{ac.action}} </a>
          </li>
        </ul>
      </div>
      <br>

    </li>
  </ul>


</div>
