body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

h1, h2, h3, h4 {
  color: #335778;
}

.well h1, .well h2, .well h3 {
  margin-left: 17px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.navbar-header h1 {
  width: 300px;
  margin-top: 30px;
  font-size: 25px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


.intro-logo {
  width: 300px;
  border: 1px solid lightgray;
  padding: 5px;
  margin: 25px;
}

.navbar-logo {
  width: 50px;
}

.panel-end {
  margin-top: 75px;
  font-size: 10px;
  background: none;
  border-radius: 0;
  border: none;
}

.welcome {
  font-weight: bold;
  font-size: 24px;
  color: #335778;
}

.multiadd input {
 width: 250px;
}

.index-page {
  text-align: center;
}

.nav-short {
  margin: 25px 25px 0 0;
}

.list-group button, .list-group a {
   min-width: 250px;
}

.multiAdd-item {
  min-height: 60px;
}

.multiAdd-item-title {
  font-size: 24px;
  font-weight: bold;
}

.createset label {
  margin-left: 20px;
}

.pe label {
  display: block;
}

.panel-title > a {
  display: block;
  cursor: pointer;
}

.pe h1, .pe h2, .pe h3 {
  margin-left: 0;
}