<div class='well'>

  <div class="row">
    <div class="cold-md-6"><h2>Welcome!</h2></div>
    <div class="alert alert-info">
      <p>
        <strong>Login with your instructor email address</strong> to see results and publish problem sets for your course.
      </p>
    </div>
  </div>

  <div class="row">
    <ul class="list-group" ng-hide="email">
      <li class="list-group-item" >
        <button ng-click="login()" class="btn btn-lg btn-success"><strong>Instructor Login</strong></button>
      </li>
    </ul>

    <ul class="list-group" ng-show="email">
      <li class="list-group-item">
        <a href="#/new" class="btn btn-lg btn-info"><strong>Create a Problem Set</strong></a>
        <a href="#/manage" class="btn btn-lg btn-info">Manage Problem Sets</a>
        <a href="#/courses" class="btn btn-lg btn-info">Manage Courses</a>
      </li>
      <li class="list-group-item"><a href="#/submissions" class="btn btn-lg btn-info">See Student Submissions</a></li>
      <li class="list-group-item"><a href="#/instructors" class="btn btn-lg btn-warning">Manage Instructors</a></li>
      <li class="list-group-item"><button ng-click="logout()" class="btn btn-lg btn-success"><strong>Logout</strong></button></li>
    </ul>
  </div>
</div>
