<form ng-submit="saveSet(problem)">
<div class='well pe'>
  <h1> Problem Set Editor </h1>
  <h3> Editing: {{problem.name}}</h3>
  <div class="alert alert-info">CURRENT STATUS: {{problem.status}}</div>


  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" required ng-model="problem.name"/>
  </div>

  <div class="form-group">
    <label for="name">Due Date:</label>
    <input type="text" datepicker-popup="yyyy/MM/dd" is-open="opened" required ng-model="problem.due" min="minDate"
           datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
  </div>

  <div class="form-group">
    <label for="name">Status: </label>
    <select name="select" ng-model="problem.status" required>
      <option value="unpublished">Unpublished</option>
      <option value="published">Published</option>
    </select>
  </div>

  <div class="form-group">
    <label for="desc">Description</label>
    <textarea id="desc" class="form-control" rows="3" ng-model="problem.desc"></textarea>
  </div>

  <div class="form-group">
    <label for="course">Course</label>
    <select id="course" class="form-control" ng-model="problem.course" ng-options="c.id as c.key for c in courses"></select>
  </div>


</div>

<div class="well pe" ng-init="init()">
  <h3>Questions</h3>

  <div class="add-field">
    <select ng-model="addField.new" ng-options="type.name as type.value for type in addField.types"></select>
    <button class="btn btn-default" type="button" ng-click="addNewField()">Create a New Question</button>
    <button class="btn btn-default" type="button" ng-click="importQuestion()">Import from Question Bank</button>
  </div>
  <hr>
  <p ng-show="problem.questions.length == 0">No questions added yet.</p>

  <accordion close-others="false">
    <accordion-group heading="{{field.field_id}}. {{field.field_title}}" ng-repeat="field in problem.questions">

        <button class="btn btn-danger pull-right" type="button" ng-really-message="Delete this question?"
                ng-really-click="deleteField(field.field_id)">Delete
        </button>

        <button class="btn btn-info pull-right"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <button class="btn btn-info pull-right"><span class="glyphicon glyphicon-arrow-down"></span></button>



        <div class="form-group">
          <label>Question Title:</label>
          <div class="span4"><input type="text" ng-model="field.field_title" value="{{field.field_title}}"></div>
          <label>Full Question:</label>

          <div class="span4">
            <textarea class="form-control" rows="3" ng-model="field.field_question"
                      value="{{field.field_question}}"></textarea>
          </div>

          <div class="span4">
            <label>Points for correct answer:</label>
            <select ng-model="field.field_points" ng-options="c for c in question_points"></select>
          </div>
          <div class="span4">
            <label>Answer Precision: (i.e with 1: 0.75 -> 0.8, with 2: 0.000433123 -> 0.00043)</label>
            <select ng-model="field.field_digits" ng-options="c for c in question_digits"></select>
          </div>
        </div>

        <div class="form-group">
          <label for="formula{{$index}}">Answer Formula:</label>
          <textarea id="formula{{$index}}" class='mathdoxformula' rows='10' cols='80'>{{field.field_formula}}</textarea>


          <field-variables></field-variables>

        </div>

        <div class="form-group" ng-show="showAddOptions(field)">
          <div class="span2">Multiple Choice Answer Options:</div>
          <div class="span6">
            <div ng-repeat="option in field.field_options">
              <input type="text" ng-model="option.option_title" value="{{option.option_title}}">
              <a class="btn btn-danger btn-mini right" type="button" ng-click="deleteOption(field, option)"><span class="glyphicon glyphicon-minus"></span></a>
              <span class="label label-inverse">Value: {{ option.option_value }}</span>
            </div>
            <button class="btn btn-primary btn-small" type="button" ng-click="addOption(field)">Add Option
            </button>
          </div>
        </div>

    </accordion-group>

  </accordion>


</div>

<p class="text-center">
  <button class="btn btn-danger right" type="button" ng-really-message="Reset to the last saved version?"
          ng-really-click="reset()">Reset Changes
  </button>
  <button class="btn btn-success btn-lg" type="submit">Save Problem Set</button>
</p>

<br>
<hr>
<a ng-show="!showJson" ng-click="showJson = true">Show form object</a>
<a ng-show="showJson" ng-click="showJson = false">Hide form object</a><br><br>
  <div ng-show="showJson">
    <h4>Problem Set Object Content:</h4>
    <pre>{{ problem | json }}</pre>
  </div>


</form>