<div class='well'>
  <h1>Problem Set List</h1>
  <h3>Course Selected: {{details.course.name}}</h3>

  <div ng-show="details.problems.length === 0" class="alert alert-info">
    <h3>No Problem Sets found.</h3>
    <a class="btn btn-success btn-lg" href="#/new">Create a new problem set</a>
  </div>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="ps in items" style="min-height: 80px;">
      <div class='pull-left'>
        <h4>{{ps.key.name}}</h4>
        Created: {{ps.key.created_at}} | Updated: {{ps.key.updated_at}}
      </div>
      <div class='btn-group pull-right'>
        <button type='button' class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu " role="menu">
          <li ng-repeat="ac in actions">
            <a href="#/edit/{{ps.key.id}}"> {{ac.action}} </a>
          </li>
        </ul>
      </div>
      <br>

    </li>
  </ul>
</div>
