<div class='well'>

  <div class="row">
    <div class="cold-md-6"><h1>Problem Set List</h1></div>
  </div>

    <p ng-show="noResults" class="alert alert-info">No Problem Sets found. <a class="btn btn-default" href="#/new">Create one</a></p>


  <ul class="list-group">
    <li class="list-group-item" ng-repeat="ps in problemSets">
      {{ps.key.name}} <br />
      Created: {{ps.key.created_at}} | Updated: {{ps.key.updated_at}}

      <div class='btn-group pull-right'>
        <button type='button' class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="ac in actions">
            <a href="#/edit/{{ps.key.id}}"> {{ac.action}} </a>
          </li>
        </ul>
      </div>
      <br>

    </li>
  </ul>


</div>
