<div class='well'>

  <h1>Student Submission</h1>

  <table class="table">
    <tr><th>ID:</th><td>{{sub._id}}</td></tr>
    <tr><th>Problem Set:</th><td>{{sub.problem_name}}</td></tr>
    <tr><th>Author</th><td>{{sub.author}}</td></tr>
    <tr><th>Created At</th><td>{{sub.created_at}}</td></tr>
  </table>

  <div ng-repeat="q in sub.questions">
    <h5>{{q.field_title}}</h5>
    <p>HINT: {{q.field_hint}}</p>
    <p>Q: {{q.field_question}}</p>
    <h3>A: {{q.field_answer}}</h3>


    <hr/>
  </div>

</div>
