<div class='well'>

  <div class='row'>
    <div class='cold-md-6'><h1>Submissions</h1></div>
  </div>

  <div class='row multiadd'>
    <hr/>
    <section ng-show='items.length' ng-cloak>
      <ul id='course-list' class='list-group'>
        <li ng-repeat='item in items' class='list-group-item multiAdd-item'>
          <span class='multiAdd-item-title'>{{item.key.name}}</span>
          <a href="#/submissions-by-course/{{item.key.id}}" class='btn pull-right btn-info'>View</a>
        </li>
      </ul>
    </section>
  </div>

</div>
