<h2>{{ problem.form_name }}</h2>

<div ng-show="!problem.submitted">
    <div class="field row">
        <div class="span2">Form ID:</div>
        <div class="span4">{{ problem.form_id }}</div>
    </div>
    <form name="myForm" id="myForm">
        <div ng-repeat="field in problem.questions">
            <field-directive field="field">

            </field-directive>
        </div>
    </form>


</div>

<div ng-show="problem.submitted">
    <h3>Submitted Data</h3>
    <div ng-repeat="field in problem.questions">
        Field Title: {{ field.field_title }} <br>
        Field Value: {{ field.field_value }} <br><br>
    </div>
</div>