<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header pull-left">
    <a class="navbar-brand" href="/"><img src='../images/utmq.png' alt='UTMQ' class='navbar-logo'/></a>
    <h1 ng-show="modeAuthoring">UTMQ Instructor</h1>
    <h1 ng-show="modeStudent">UTMQ Student</h1>
  </div>

  <div ng-show="modeAuthoring && roleInstructor" class="nav-short btn-group pull-right" ng-cloak>
    <a ng-show="email" href="#/" class="btn btn-default"><strong>Instructor :</strong></a>
    <a ng-show="email" href="#/problems" class="btn btn-default">Problem Sets</a>
    <a ng-show="email" href="#/courses" class="btn btn-default">Courses</a>
    <a ng-show="email" href="#/submissions" class="btn btn-default">Submissions</a>
    <a ng-show="email" href="#/instructors" class="btn btn-default">Instructors</a>
    <button ng-show="email" ng-click="logout()" class="btn btn-default">Logout</button>
    <button ng-hide="email" ng-click="login()" class="btn btn-default">Login</button>
  </div>

  <div ng-show="modeStudent" class="nav-short btn-group pull-right" ng-cloak>
    <a ng-show="email" href="#/" class="btn btn-default"><strong>Student : </strong></a>
    <a ng-show="email" href="#/problems" class="btn btn-default">Problem Sets</a>
    <a ng-show="email" href="#/submissions" class="btn btn-default">Submissions</a>
    <button ng-show="email" ng-click="logout()" class="btn btn-default">Logout</button>
    <button ng-hide="email" ng-click="login()" class="btn btn-default">Login</button>
  </div>
</nav>
