<div class='well well-sm'>

  <div>
    <h1> Problem Sets </h1>
    <button type="button" class="btn btn-success pull-right">New Problem Set</button>
  </div>


  <form class="form-search">
    <div class="input-append">
      <input type="text" class="span2 search-query" placeholder="Search Problem Sets">
      <button type="submit" class="btn"><i class="icon-search"></i></button>
     </div>
  </form>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="ps in problemSets">
    {{ps.name}} <br>
      Last modified on {{ps.date}}

      <div class='btn-group pull-right'>
        <button type='button' class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Action <span class="caret"></span>  
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="ac in actions">
            <a href="#"> {{ac.action}} </a>
          </li>
        </ul>
      </div>
      <br>

    </li>
  </ul>

</div>
